<div>
  <p>
    <% if @kata.errors %>
    <ul>
      <% @kata.errors.each do | error | %>
      <li><%= error %></li>
      <% end %>
    </ul>
    <% end %>
  </p>
</div>
<%= form_for(@kata) do |field| %>
<p><%= field.text_field :title %></p>
<p><%= field.text_field :description %></p>
<p><%= field.submit t(:save) %></p>
<% end %>
